/* App.css */

.app-container {
  display: flex;
  flex-direction: column;
  padding: 40px;
  background-color: #f1f1f1;
  min-height: 100vh;
}

.main-content {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 768px) {
  .main-content {
    flex-direction: column;
  }
}
